# python
backend/venv/
backend/__pycache__/
*.pyc

# dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage/

# production
frontend/build/

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# editor/system files
.vscode/
.DS_Store
Thumbs.db

# root-level env
.env
